<%= form_with(model: consulta_general) do |form| %>
  <% if consulta_general.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(consulta_general.errors.count, "error") %> prohibited this consulta_general from being saved:</h2>

      <ul>
        <% consulta_general.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :descripcion,"Descripcion del Diagnostico" ,style: "display: block" %>
    <%= form.text_area :descripcion,placeholder: "Diagnostico realizado",required: true %>
  </div>

  <div >
    <%= form.label :fecha ,"Fecha realizacion  de consulta"%>
    <%= form.date_field :fecha,min: Date.today.to_s, required: true %>
  </div>

    <%= form.hidden_field :perro_id, value: @perro_id %>

  <div>
    <%= form.submit "Confirmar" %>
  </div>
<% end %>
