<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Servicios Paseadores y Cuidadores</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light p-2 text-dark bg-opacity-50">

  <!-- Barra de navegación -->
  <nav class="navbar navbar-expand-lg navbar-light p-2 text-white" style="background-color: rgba(255, 214, 153, 0.5);">


    <div class="container">

      <a class="navbar-brand text-black" style="font-size: 35px;">Servicios Paseadores y Cuidadores</a>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
        
        </li>
      </ul>
    </div>
  </nav>

  <!-- Sección "Quiénes Somos" -->

  <div class="py-4" style="background-color: rgba(255, 214, 153, 0.5); color: white; border: 0px solid #28a745; padding: 2px; margin-bottom: 2px;">


<!-- Aquí se cambió a bg-success -->


    <div class="container">
        <h4 class="text-center text-black">  </h4>
        <p class="text-center text-black">Encuentra a los cuidadores y paseadores ideales para tus mascotas en nuestra plataforma.
           Conectamos a dueños de mascotas con amantes de los animales dispuestos a brindar atención y cariño a tus peludos.
           Explora perfiles, descubre experiencias anteriores, y elige el cuidador o paseador perfecto
           para satisfacer las necesidades únicas de tu mascota. Facilitamos la creación de vínculos entre personas apasionadas
            por los animales y aquellos que buscan servicios confiables para garantizar que tus amigos peludos estén en las mejores manos mientras tú estás ocupado.
             ¡Cuida y pasea con confianza!
        </p>
    </div>
  </div>

  <!-- Sección de opciones -->
  <div class="container my-5">

    <div class="row gx-5 justify-content-start align-items-center align-items-stretch">

      <div class="col-md-6 col-xs-12 mb-3">
        <a class="nav-link" href="#">
          <%= link_to cuidadores_path, class: "btn bg-success p-2 text-white bg-opacity-50"  do %>
            <div class="card-body">
              <h5 class="card-title text-center">Ver lista de Cuidadores</h5>
              <p class="card-text text-center">Encuentra cuidadores para asegurarte de que tu peludo amigo reciba
                el amor y la supervisión que se merece cuando no puedes estar a su lado </p>
            </div>
          <% end %>
        </a>
      </div>

      <div class="col-md-6 col-xs-12 mb-3">
        <a class="nav-link" href="#">
          <%= link_to paseadores_path, class: "btn bg-success p-2 text-white bg-opacity-50"  do %>
            <div class="card-body">
              <h5 class="card-title text-center">Ver lista de Paseadores</h5>
              <p class="card-text text-center">Encuentra paseadores que garantizarán que tu leal amigo disfrute de la atención
                y el ejercicio necesarios cuando no puedas acompañarlo.  </p>
            </div>
          <% end %>
        </a>
      </div>
    </div>

    <div class="row gx-7 justify-content-start align-items-center align-items-stretch">
      <div class="col-md-6 col-xs-12 mb-3">
        <a class="nav-link" href="#">
          <% if user_signed_in? && current_user.admin? %>
            <%= link_to new_cuidadore_path, class: "btn bg-success p-2 text-white bg-opacity-50" do %>
              <div class="card-body">
                <h5 class="card-title text-center">Publicar Cuidador</h5>
                <p class="card-text text-center">. Promociona a personas apasionadas por los perros que se comprometen a brindarles el cuidado y atención que merecen. </p>
              </div>
            <% end %>
          <% end %>
        </a>
      </div>

      <div class="col-md-6 col-xs-12 mb-3">
        <a class="nav-link" href="#">
          <% if user_signed_in? && current_user.admin?  %>
            <%= link_to new_paseadore_path, class: "btn bg-success p-2 text-white bg-opacity-50" do %>
              <div class="card-body">
                <h5 class="card-title text-center">Publicar Paseador</h5>
                <p class="card-text text-center">Promociona a personas apasionadas por los perros que se comprometen a brindarles el cuidado y atención que merecen</p>
              </div>
            <% end %>
          <% end %>
        </a>
      </div>
    </div>

  </div>

  <%= link_to "volver", home_path %>
