<%= form_with(model: desparasitacion) do |form| %>
  <% if desparasitacion.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(desparasitacion.errors.count, "error") %> prohibited this desparasitacion from being saved:</h2>

      <ul>
        <% desparasitacion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre_medicamento,"Nombre del medicamento", style: "display: block" %>
    <%= form.text_field :nombre_medicamento %>
  </div>

  <div>
    <%= form.label :tipo_medicamento,"Tipo de desparasitacion", style: "display: block" %>
    <%= form.text_field :tipo_medicamento %>
  </div>

  <div>
    <%= form.label :dosis, style: "display: block" %>
    <%= form.number_field :dosis %>
  </div>
  <div>
    <%= form.label :fecha, "Fecha de Seguimiento", style: "display: block" %>
    <%= form.date_field :fecha, max: Date.today.to_s, required: true %>
  </div>

  <%= form.hidden_field :perro_id, value: @perro_id %>
  <div>
    <%= form.submit "Confirmar" %>
  </div>
<% end %>
