<p style="color: green"><%= notice %></p>

<%= render @desparasitacion %>

<div>
  <%= link_to "Edit this desparasitacion", edit_desparasitacion_path(@desparasitacion) %> |
  <%= link_to "Back to desparasitacions", desparasitacions_path %>

  <%= button_to "Destroy this desparasitacion", @desparasitacion, method: :delete %>
</div>
