<div class="paseadores-list container">
  <h1>Perfil del Perro</h1>

  <div class="paseador-info">
    <%= render @perro %>
  </div>

  <% if user_signed_in? && !current_user.admin? %>
    <%= link_to "Nuevo turno", new_turno_nuevo_path(perro_id:@perro), class: "btn bg-success p-2 text-white bg-opacity-50" %>
    <br>
    <br>
  <% end %>


  <br>
  <br>
  <%= link_to "Volver al Perfil del Usuario", usuario_path(@perro.user), class: "btn bg-success p-2 text-white bg-opacity-50" %>

  <h2>HISTORIAL CLINICO</h2>
 <br>
 <div class="vacunaciones">
   <div class="paseador-info">
     <h2> * Lista de Vacunaciones</h2>

    <% if @perro.vacunacions.any? %>
       <% @perro.vacunacions.each do |vacunacion| %>
       <li class="paseador-item">
         <%= render vacunacion %>
       </li>
       <% end %>
     <% else %>
       <p>No hay vacunaciones registradas para este perro.</p>
     <% end %>
     <% if user_signed_in? && current_user.admin? && @tiene_turno_antirrabica  && @estado_turno_antirrabica =='pendiente'||@estado_turno_antirrabica =='confirmado' %>
      <p>El perro ya tiene un turno para antirr치bica.</p>
   <% end %>

     <% if user_signed_in? && current_user.admin? && @tiene_turno_parvovirus && @estado_turno_parvovirus=='pendiente'||@estado_turno_parvovirus =='confirmado' %>
       <p>El perro ya tiene un turno para parvovirus.</p>
     <% end %>
     <% if @mostrar_antirrabica%>
      <% if user_signed_in? && current_user.admin? && @perro.edad  >1 %>
      <%= link_to new_vacunacion_path(nombre: @perro.nombre, user_id:@perro.user_id ,id: -1,tipo_s: "antirrabica"), class: "btn bg-success p-2 text-white bg-opacity-50" do %>
       <p>Aplicar Vacuna antirrabica</p>
        <% end %>
         <% end %>
     <% end %>
     <% if @mostrar_parvovirus %>
       <% if user_signed_in? && current_user.admin? && @perro.edad  > 5 %>
     <%= link_to new_vacunacion_path(nombre: @perro.nombre, user_id:@perro.user_id ,id: -1,tipo_s: "parvovirus"), class: "btn bg-success p-2 text-white bg-opacity-50" do %>
       <p>Aplicar Vacuna parvovirus</p>
        <% end %>
         <% end %>
       <% end %>
   </div>
 </div>
 <br>
 <div class="castracion">
   <div class="paseador-info">
     <h2> * Ver Castraci칩n</h2>

     <% if !@perro.castracions.empty? %>
       <% @perro.castracions.each do |castracion| %>
       <li class="paseador-item">
         <%= render castracion %>
       </li>
       <% end %>
     <% else %>
       <p>No hay castraci칩n registrada para este perro.</p>
     <% end %>
     <% if user_signed_in? && current_user.admin? && @tiene_turno_castracion  && @estado_turno_castracion=='pendiente'||@estado_turno_castracion =='confirmado' %>
      <p>El perro ya tiene un turno para castracion.</p>
   <% end %>

     <% unless @perro.castracions.any? %>
         <% if user_signed_in? && current_user.admin? && @perro.edad  > 5%>
       <%= link_to new_castracion_path(perro_id: @perro), class: "btn bg-success p-2 text-white bg-opacity-50" do %>
         <p>Registrar una Castraci칩n</p>
           <% end %>
       <% end %>
     <% end %>
   </div>
 </div>
 <br>
 <div class="desparasitacion">
   <div class="paseador-info">
     <h2> * Lista de desparasitaciones</h2>
     <% if @perro.desparasitacions.any? %>
       <% @perro.desparasitacions.each do |desparasitacion| %>
       <li class="paseador-item">
         <%= render desparasitacion %>
       </li>
       <% end %>
     <% else %>
       <p>No hay desparasitaciones registradas para este perro.</p>
     <% end %>
     <% if user_signed_in? && current_user.admin? &&  @tiene_turno_desparasitacion  && @estado_turno_desparasitacion=='pendiente'||@estado_turno_desparasitacion =='confirmado' %>
            <% turno= User.find(@perro.user_id).turnos.where(nombre_perro: @perro.nombre, tipo_servicio: 'desparasitacion').last %>
            <%= link_to "El perro ya tiene un turno para desparasitacion.", new_desparasitacion_path(nombre:@perro.nombre, user_id:@perro.user_id,id: turno.id )%>
   <% else %>
   <% if user_signed_in? && current_user.admin? && @perro.edad  >= 3%>
     <%= link_to new_desparasitacion_path(perro_id: @perro), class: "btn bg-success p-2 text-white bg-opacity-50" do %>
       <p>Registrar una desparasitacion</p>
       <% end %>
     <% end %>
  <% end %>

   </div>
 </div>
 <br>
 <div class="consulta general">
   <div class="paseador-info">
     <h2> * Lista de Consultas generales</h2>
     <% if @perro.consulta_generals.any? %>
       <% @perro.consulta_generals.each do |consulta_general| %>
       <li class="paseador-item">
         <%= render consulta_general  %>
       </li>
       <% end %>
     <% else %>
       <p>No hay consulta general registradas para este perro.</p>
     <% end %>
     <% if user_signed_in? && current_user.admin? &&  @tiene_turno_consultageneral  && @estado_turno_consultageneral=='pendiente'||@estado_turno_consultageneral =='confirmado' %>
      <p>El perro ya tiene un turno para consulta general.</p>
   <% end %>
       <% if user_signed_in? && current_user.admin?%>
     <%= link_to new_consulta_general_path(perro_id: @perro), class: "btn bg-success p-2 text-white bg-opacity-50" do %>
       <p>Registrar una consulta general</p>
          <% end %>
     <% end %>
   </div>
 </div>


<!-- <div>
 <%= link_to "Edit this perro", edit_perro_path(@perro) %> |
 <%= link_to "Back to perros", perros_path %>

 <%= button_to "Destroy this perro", @perro, method: :delete %>
</div> -->
