<div class="paseadores-list container">
  <h1>Perfil del Perro</h1>

  <div class="paseador-info">
    <%= render @perro %>
  </div>

  <% if user_signed_in? && !current_user.admin? %>
    <%= link_to "Nuevo turno", new_turno_nuevo_path(perro_id:@perro), class: "btn bg-success p-2 text-white bg-opacity-50" %>
    <br>
    <br>
  <% end %>


  <br>
  <br>
  <%= link_to "Volver al Perfil del Usuario", usuario_path(@perro.user), class: "btn bg-success p-2 text-white bg-opacity-50" %>

  <h2>-------------------------------------------------------------------------------------------</h2>
  <h2>HISTORIAL CLINICO</h2>
  <br>
  <div class="vacunaciones">
    <div class="paseador-info">
      <h2> * Lista de Vacunaciones</h2>

     <% if @perro.vacunacions.any? %>
        <% @perro.vacunacions.each do |vacunacion| %>
        <li class="paseador-item">
          <%= render vacunacion %>
        </li>
        <% end %>
      <% else %>
        <p>No hay vacunaciones registradas para este perro.</p>
      <% end %>

    </div>
  </div>
  <br>
  <div class="castracion">
    <div class="paseador-info">
      <h2> * Ver Castración</h2>

      <% if !@perro.castracions.empty? %>
        <% @perro.castracions.each do |castracion| %>
        <li class="paseador-item">
          <%= render castracion %>
        </li>
        <% end %>
      <% else %>
        <p>No hay castración registrada para este perro.</p>
      <% end %>

    </div>
  </div>
  <br>
  <div class="desparasitacion">
    <div class="paseador-info">
      <h2> * Lista de desparasitaciones</h2>
      <% if @perro.desparasitacions.any? %>
        <% @perro.desparasitacions.each do |desparasitacion| %>
        <li class="paseador-item">
          <%= render desparasitacion %>
        </li>
        <% end %>
      <% else %>
        <p>No hay desparasitaciones registradas para este perro.</p>
      <% end %>

    </div>
  </div>
  <br>
  <div class="consulta general">
    <div class="paseador-info">
      <h2> * Lista de Consultas generales</h2>
      <% if @perro.consulta_generals.any? %>
        <% @perro.consulta_generals.each do |consulta_general| %>
        <li class="paseador-item">
          <%= render consulta_general  %>
        </li>
        <% end %>
      <% else %>
        <p>No hay consulta general registradas para este perro.</p>
      <% end %>

    </div>
  </div>
  <br>
  <h2>-------------------------------------------------------------------------------------------</h2>
</div>
