<div class="paseadores-list container">
  <h1>Perfil del Perro</h1>

  <div class="paseador-info">
    <%= render @perro %>
  </div>
  <%= link_to "Volver al Perfil del Usuario", usuario_path(@perro.user), class: "btn bg-success p-2 text-white bg-opacity-50" %>
  <h2>-------------------------------------------------------------------------------------------</h2>
  <h2>HISTORIAL CLINICO</h2>
  <br>
  <div class="vacunaciones">
    <div class="paseador-info">
      <h2> * Lista de Vacunaciones</h2>

     <% if @perro.vacunacions.any? %>
        <% @perro.vacunacions.each do |vacunacion| %>
        <li class="paseador-item">
          <%= render vacunacion %>
        </li>
        <% end %>
      <% else %>
        <p>No hay vacunaciones registradas para este perro.</p>
      <% end %>

      <%= link_to new_vacunacion_path(perro_id: @perro), class: "btn bg-success p-2 text-white bg-opacity-50" do %>
        <p>Registrar una Vacunaci贸n</p>
      <% end %>
    </div>
  </div>
  <br>
  <div class="castracion">
    <div class="paseador-info">
      <h2> * Ver Castraci贸n</h2>

      <% if !@perro.castracions.empty? %>
        <% @perro.castracions.each do |castracion| %>
        <li class="paseador-item">
          <%= render castracion %>
        </li>
        <% end %>
      <% else %>
        <p>No hay castraci贸n registrada para este perro.</p>
      <% end %>

      <% unless @perro.castracions.any? %>
        <%= link_to new_castracion_path(perro_id: @perro), class: "btn bg-success p-2 text-white bg-opacity-50" do %>
          <p>Registrar una Castraci贸n</p>
        <% end %>
      <% end %>
    </div>
  </div>
  <br>
  <div class="desparasitacion">
    <div class="paseador-info">
      <h2> * Lista de desparasitaciones</h2>
      <% if @perro.desparasitacions.any? %>
        <% @perro.desparasitacions.each do |desparasitacion| %>
        <li class="paseador-item">
          <%= render desparasitacion %>
        </li>
        <% end %>
      <% else %>
        <p>No hay desparasitaciones registradas para este perro.</p>
      <% end %>
      <%= link_to new_desparasitacion_path(perro_id: @perro), class: "btn bg-success p-2 text-white bg-opacity-50" do %>
        <p>Registrar una desparasitacion</p>
      <% end %>
    </div>
  </div>
  <br>
  <div class="consulta general">
    <div class="paseador-info">
      <h2> * Lista de Consultas generales</h2>
      <% if @perro.consulta_generals.any? %>
        <% @perro.consulta_generals.each do |consulta_general| %>
        <li class="paseador-item">
          <%= render consulta_general  %>
        </li>
        <% end %>
      <% else %>
        <p>No hay consulta general registradas para este perro.</p>
      <% end %>
      <%= link_to new_consulta_general_path(perro_id: @perro), class: "btn bg-success p-2 text-white bg-opacity-50" do %>
        <p>Registrar una consulta general</p>
      <% end %>
    </div>
  </div>
  <br>
  <h2>-------------------------------------------------------------------------------------------</h2>
</div>

<!-- <div>
  <%= link_to "Edit this perro", edit_perro_path(@perro) %> |
  <%= link_to "Back to perros", perros_path %>

  <%= button_to "Destroy this perro", @perro, method: :delete %>
</div> -->
