<h1>Paseadores y Cuidaores </h1>

<h1>Publicar Nuevo Cuidador</h1>

<%= form_for @cuidador , url: cuidadores_path do |f| %>
  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :apellido %>
    <%= f.text_field :apellido %>
  </div>

  <div class="field">
    <%= f.label :horarios %>
    <%= f.text_field :horarios %>
  </div>

  <div class="field">
    <%= f.label :ubicacion %>
    <%= f.text_field :ubicacion %>
  </div>
  <div class="actions">
    <%= f.submit "Confirmar" %>
  </div>

<% end %>
<% if defined?(@error_message) && @error_message.present? %>
<div class="alert alert-danger">
  <%= @error_message %>
</div>
<% end %>
