
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Veterinaria Oh My Dog</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-success p-2 text-dark bg-opacity-50 " >

  <!-- Barra de navegación -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light bg-success p-2 text-white bg-opacity-25 border border-success p-2 mb-2" >
    <div class="container">

      <a class="navbar-brand" style="font-size: 35px;">Publicar Nuevo Cuidador </a>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">

        </li>
      </ul>
    </div>
  </nav>


  
<h1></h1>

<%= form_for @cuidador , url: cuidadores_path do |f| %>
  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :apellido %>
    <%= f.text_field :apellido %>
  </div>

  <div class="field">
    <%= f.label :horarios %>
    <%= f.text_field :horarios %>
  </div>

  <div class="field">
    <%= f.label :ubicacion %>
    <%= f.text_field :ubicacion %>
  </div>
  <div class="actions">
    <%= f.submit "Confirmar" %>
  </div>

<% end %>
<% if defined?(@error_message) && @error_message.present? %>
<div class="alert alert-danger">
  <%= @error_message %>
</div>
<% end %>
