<div id="<%= dom_id castracion %>">
  <p>
    <strong>Descripcion:</strong>
    <%= castracion.descripcion %>
  </p>

  <p>
    <strong>Medicamentos:</strong>
    <%= castracion.medicamentos %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= castracion.fecha %>
  </p>

  <p>
    <strong>Perro:</strong>
    <%= castracion.perro_id %>
  </p>

</div>
