<p style="color: green"><%= notice %></p>

<%= render @castracion %>

<div>
  <%= link_to "Edit this castracion", edit_castracion_path(@castracion) %> |
  <%= link_to "Back to castracions", castracions_path %>

  <%= button_to "Destroy this castracion", @castracion, method: :delete %>
</div>
