<div class="perdidos-list">
<%= form_with(model: vacunacion) do |form| %>
  <% if vacunacion.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vacunacion.errors.count, "error") %> prohibited this vacunacion from being saved:</h2>

      <ul>
        <% vacunacion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Tipo de Vacuna", style: "display: block" %>
    <%= form.text_field :tipo_vacuna, class: "input-tamanocampo", required: true %>
  </div>

  <div class="form-group">
    <%= form.label "Marca de Vacuna", style: "display: block" %>
    <%= form.text_field :marca_vacuna, class: "input-tamanocampo", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :dosis, style: "display: block" %>
    <%= form.number_field :dosis, class: "input-tamanocampo", required: true %>
  </div>

  <div class="form-group">
    <%= form.label "Numero de Lote", style: "display: block" %>
    <%= form.number_field :numero_lote, class: "input-tamanocampo", required: true %>
  </div>

  <%= form.hidden_field :perro_id, value: @perro_id %>
  <br>
  <%= form.submit 'Publicar', class: "btn-publicar btn-primary" %>
<% end %>
