<div class="perdidos-list">
<%= form_with(model: vacunacion) do |form| %>

  <div class="form-group">
  <%= form.label "Tipo de Vacuna", style: "display: block" %>
  <%= form.text_field :tipo_vacuna, class: "input-tamanocampo", required: true, readonly: true, value: @servicio %>
</div>


  <div class="form-group">
    <%= form.label "Marca de Vacuna", style: "display: block" %>
    <%= form.text_field :marca_vacuna, class: "input-tamanocampo", required: true %>
  </div>

  <div class="form-group">
    <%= form.label :dosis, style: "display: block" %>
    <%= form.number_field :dosis, class: "input-tamanocampo", required: true %>
  </div>
  <div >
    <%= form.label :fecha ,"Fecha"%>
    <%= form.date_field :fecha,max: Date.today.to_s, required: true %>
  </div>

  <div class="form-group">
    <%= form.label "Numero de Lote", style: "display: block" %>
    <%= form.number_field :numero_lote, class: "input-tamanocampo", required: true %>
  </div>

  <%= form.hidden_field :perro_id, value: @perro.id %>
  <br>
  <%= form.submit 'Publicar', class: "btn-publicar btn-primary" %>
<% end %>
