<div id="<%= dom_id vacunacion %>">
  <p>
    <strong>Tipo vacuna:</strong>
    <%= vacunacion.tipo_vacuna %>
  </p>

  <p>
    <strong>Marca vacuna:</strong>
    <%= vacunacion.marca_vacuna %>
  </p>

  <p>
    <strong>Dosis:</strong>
    <%= vacunacion.dosis %>
  </p>

  <p>
    <strong>Numero lote:</strong>
    <%= vacunacion.numero_lote %>
  </p>

</div>
