<div id="<%= dom_id adopcion %>">
  <p>
    <strong>Nombre:</strong>
    <%= adopcion.nombre %>
  </p>

  <p>
    <strong>Tamanio:</strong>
    <%= adopcion.tamanio %>
  </p>

  <p>
    <strong>Edad:</strong>
    <%= adopcion.edad %>
  </p>

  <p>
    <strong>Ubicacion:</strong>
    <%= adopcion.ubicacion %>
  </p>

  <p>
    <strong>Raza:</strong>
    <%= adopcion.raza %>
  </p>

</div>
