<div class="container-fluid card border-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header text-center">
    <strong>Nombre:</strong>
    <%= adopcion.nombre %>
  </div>
  <div class="card-body text-secondary">
    <h6 class="card-text text-center">
      <strong>Tamanio:</strong>
      <%= adopcion.tamanio %>
    </h6>
    <h6 class="card-text text-center">
      <strong>Edad:</strong>
      <%= adopcion.edad %>
    </h6>
    <h6 class="card-text text-center">
      <strong>Ubicacion:</strong>
      <%= adopcion.ubicacion %>
    </h6>
    <h6 class="card-text text-center">
      <strong>Raza:</strong>
      <%= adopcion.raza %>
    </h6>
  </div>
</div>
