<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Veterinaria Oh My Dog</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light p-2 text-dark bg-opacity-50">






  <!-- Barra de navegación -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #FFA500; color: white; border: 1px solid #28a745; padding: 2px; margin-bottom: 2px;">





    <div class="container">

      <a class="navbar-brand text-white" style="font-size: 35px;">Veterinaria Oh My Dog</a>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to destroy_user_session_path, class: "btn bg-success p-2 text-white bg-opacity-50" do %>
            <div class="p-3" style="background-color: #FFA500; color: white; border: 1px solid #28a745; padding: 2px; margin-bottom: 2px;">
                <p1> Cerrar Sesión </p1>
              </div>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Sección "Quiénes Somos" -->

  <div class="py-4" style="background-color: #FFA500; color: white; border: 1px solid #28a745; padding: 2px; margin-bottom: 2px;">

<!-- Aquí se cambió a bg-success -->


    <div class="container">
        <h4 class="text-center text-orange"> ¿Quiénes Somos? </h4>
        <p class="text-center text-orange">En Veterinaria Oh My Dog, nos apasiona brindar un cuidado integral a tus adorados
        compañeros de cuatro patas. Nuestro compromiso va más allá de la atención veterinaria
        convencional. Somos un equipo dedicado a proporcionar una gama completa de servicios
        diseñados para atender las necesidades de tus mascotas y fortalecer el vínculo entre los
        perros y sus familias.
        </p>
    </div>
  </div>
  <div class="paseadores-list container">
      <h1>Lista de paseadores de Perros</h1>
      <ul>
        <% if @paseadores.any? %>
          <% @paseadores.each do |paseador| %>
            <li class="paseador-item">
              <div class="paseador-avatar">
                <!-- Agrega la imagen del paseador aquí -->
              </div>
              <div class="paseador-info">
                <h2><%= paseador.nombre %> <%= paseador.apellido %></h2>
                <p><strong>Horarios:</strong> <%= paseador.horarios %></p>
                <p><strong>Ubicación:</strong> <%= paseador.ubicacion %></p>
                <!--  <a class="btn btn-primary" href="<%= contactar_paseadore_path(paseador) %>">Solicitar Contacto</a>-->
              </div>
            </li>
          <% end %>
        <% else %>
          <p>No hay publicaciones de paseadores para mostrar en este momento.</p>
        <% end %>
      </ul>
      <% if user_signed_in? %>
        <a class="btn btn-secondary" href="<%= main_home_path %>">Volver</a>
      <% else %>
        <a class="btn btn-secondary" href="<%= new_user_session_path %>">Volver</a>
      <% end %>
    </div>
