<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light p-2 text-dark bg-opacity-50">


  <!-- Sección "Quiénes Somos" -->

    <div class="py-4" style="background-color: rgba(255, 214, 153, 0.5); color: white; border: 0px solid #28a745; padding: 2px; margin-bottom: 2px;">

<!-- Aquí se cambió a bg-success -->


    <div class="container">
        <h4 class="text-center text-black"> </h4>
        <p class="text-center text-black">Encuentra a los paseadores  ideales para tus mascotas en nuestra plataforma.
           Conectamos a dueños de mascotas con amantes de los animales dispuestos a brindar atención y cariño a tus peludos.
           Explora perfiles, descubre experiencias anteriores, y elige el paseador perfecto
           para satisfacer las necesidades únicas de tu mascota. Facilitamos la creación de vínculos entre personas apasionadas
            por los animales y aquellos que buscan servicios confiables para garantizar que tus amigos peludos estén en las mejores manos mientras tú estás ocupado.
             ¡Cuida y pasea con confianza!
        </p>
    </div>
  </div>
  <div class="paseadores-list container">
      <h1>Lista de paseadores de Perros</h1>
      <ul>
        <% if @paseadores.any? %>
          <% @paseadores.each do |paseador| %>
            <li class="paseador-item">
              <div class="paseador-avatar">
                <!-- Agrega la imagen del paseador aquí -->
              </div>
              <div class="paseador-info">
                <h2><%= paseador.nombre %> <%= paseador.apellido %></h2>
                <p><strong>Horarios:</strong> <%= paseador.horarios %></p>
                <p><strong>Ubicación:</strong> <%= paseador.ubicacion %></p>
                <button onclick="return confirm('acercate a la veterinaria para más información')">Contactar</button>
                <!--  <a class="btn btn-primary" href="<%= contactar_paseadore_path(paseador) %>">Solicitar Contacto</a>-->
              </div>
            </li>
          <% end %>
        <% else %>
          <p>No hay publicaciones de paseadores para mostrar en este momento.</p>
        <% end %>
      </ul>

        <a class="btn btn-secondary" href="<%= main_home_path %>">Volver</a>

    </div>
