<div id="<%= dom_id campana %>">
  <p>
    <strong>Nombre campana:</strong>
    <%= campana.nombre_campana %>
  </p>

  <p>
    <strong>Objetivo:</strong>
    <%= campana.objetivo %>
  </p>

  <p>
    <strong>Monto:</strong>
    <%= campana.monto %>
  </p>

  <p>
    <strong>Dni titular responsable:</strong>
    <%= campana.dni_titular_responsable %>
  </p>

</div>
