<%= form_with(model: campana) do |form| %>
  <% if campana.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(campana.errors.count, "error") %> prohibited this campana from being saved:</h2>

      <ul>
        <% campana.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre_campana, style: "display: block" %>
    <%= form.text_field :nombre_campana %>
  </div>

  <div>
    <%= form.label :objetivo, style: "display: block" %>
    <%= form.text_field :objetivo %>
  </div>

  <div>
    <%= form.label :monto, style: "display: block" %>
    <%= form.number_field :monto %>
  </div>

  <div>
    <%= form.label :dni_titular_responsable, style: "display: block" %>
    <%= form.number_field :dni_titular_responsable %>
  </div>

  <div>
    <%= form.submit 'Publicar Campaña'%>
  </div>
<% end %>
