<% @turno.errors[:base].each do |error| %>
  <div>
    <%= error %>
  </div>
<% end %>
<h1>Sacar Turnopara un Perro</h1>

<div class="perdidos-list">
  <%= form_with model: @turno, url: turno_nuevo_index_path do |f| %>

  <%= f.label :nombre_perro, "Selecciona el perro" %>
  <%= f.select :nombre_perro, options_for_select(current_user.perros.pluck(:nombre)), {}, required: true %>

  <div class="form-group">
    <%= f.label :primera_visita, "Voy a llevar un nuevo perro a la veterinaria." %>
    <%= f.check_box :primera_visita %>
  </div>

  <%= f.label :tipo_servicio, "Selecciona el tipo de servicio" %>
  <%= f.select :tipo_servicio, ["vacunacion", "desparasitacion", "castracion", "consulta general"], {}, required: true %>

  <div class="form-group">
  <b>  <%= f.label :banda_horaria, "En que horario piensas llevar a tu perrito?" %></b>
    <%= f.select :banda_horaria, ["Turno 1 - 8 a 13 hs", "Turno 2 - 16 a 22 hs"] %>
  </div>
  <br>
  <div class="form-group">
  <b><%= f.label :fecha, "Fecha de atención" %></b>
    <%= f.date_field :fecha, min: Date.today.to_s, max: (Date.today + 1.month).to_s, class: "input-tamanocampo", required: true %>
  </div>

  <br>
  <div class="form-group">
  <b> <%= f.label :descripcion, " Descripción" %> </b>
    <%= f.text_area :descripcion, class: "input-tamanocampo", required: true %>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id%>
  <br>
  <%= f.submit "Confirmar Turno", class: "btn-publicar btn-primary"  %>

<% end %>
</div>
