
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  <!-- Enlaces relacionados con la autenticación   <% if devise_mapping.rememberable? %>
  <div class="field">
  <%= f.check_box :remember_me %>
  <%= f.label :remember_me %>
            </div>
  <% end %>-->
  <div class="actions">
      <%= f.submit "Log in" %>
  </div>
  <% end %>

  <!-- Mensaje para mostrar el rol -->
  <% if user_signed_in? %>
    <p>Conectado como <%= current_user.email %> (Rol: <%= current_user.role %>)</p>
  <% end %>

  <!-- Enlaces relacionados con la autenticación -->
  <%= render "devise/shared/links" %>
