<!-- app/views/admin/registrations/new.html.erb -->
<% if @user.errors.any? %>
  <p>"Ya existe un usuario con este email"</p>
<% end %>


<h2>Registrar nuevo usuario</h2>



<div class="perdidos-list">
<%= form_for(@user, url: admin_registration_path) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, required: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, required: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, required: true %>
  </div>



  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, required: true %>
  </div>

  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number, required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Confirmar" %>
  </div>
<% end %>
