<!-- app/views/usuarios/index.html.erb -->
<div class="paseadores-list container">
  <h1>Listado de Usuarios</h1>

  <% if @usuarios.any? %> <!-- Verifica si hay usuarios -->
    <% admin_users = @usuarios.reject { |usuario| usuario.admin? } %>
    <% if admin_users.any? %> <!-- Verifica si hay usuarios que no son admins -->
      <ul>
        <% admin_users.each do |usuario| %>
          <li class="paseador-item">
            <div class="paseador-info">
            <% if usuario.id > 3 %> 
              <h2><%= usuario.name %></h2>
              <p><strong>Email:</strong> <%= usuario.email %></p>
              <p><strong>Dirección:</strong> <%= usuario.address %></p>
              <p><strong>Número de Teléfono:</strong> <%= usuario.phone_number %></p>
              <%= link_to usuario_path(usuario), class: "btn bg-success p-2 text-white bg-opacity-50" do %>
                
                <p>Ver Perfil </p>
              <% end %>
              
            </div>
            <% end %> 
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No hay usuarios para mostrar en este momento.</p>
    <% end %>
  <% else %>
    <p>No hay usuarios para mostrar en este momento.</p>
  <% end %>
</div>
