<!-- app/views/usuarios/show.html.erb -->
<div class="paseador-info">
<h1>Perfil de Usuario</h1>
<p><strong>Nombre:</strong> <%= @usuario.name %></p>
<p><strong>Email:</strong> <%= @usuario.email %></p>
<!-- Agrega más atributos según tus necesidades -->
<%= link_to "Mis Turnos ", turnos_path, class: "btn bg-success p-2 text-white bg-opacity-50" %>
<br>
<br>
<% if user_signed_in? %>
  <% if current_user.admin? && current_user.id != @usuario.id%>
    <%= link_to new_perro_path(:usuario_id => @usuario), class: "btn bg-success p-2 text-white bg-opacity-50" do %>
      <p>Agregar Nuevo Perro</p>
    <% end %>
    <br>
    <br>

    <%= link_to usuarios_path, class: "btn bg-success p-2 text-white bg-opacity-50" do %>
      <p>Volver al listado</p>
    <% end %>

    <% if current_user.id != @usuario.id %>
    <h1>Lista de Perros</h1>
    <br>

    <div class="perdidos-list">
    <ul>
    <% @perros.each do |perro| %>
      <li class="cuidador-item">
        <div class="row gx-5">
          <div class="col-md-6">
          <%= render perro %>
          </div>
        </div>

        <div class="row gx-5">
          <div class="col-md-6">
          <%= link_to perro_path(perro), class: "btn bg-success p-2 text-white bg-opacity-50" do %>
            <p>Ver Historia Clinica</p>
          <% end %>
          </div>
        </div>
      </li>
    <% end %>
    <div">
    </ul>
    <% end %>

  <% elsif !current_user.admin? %>
    <h1>Lista de Perros</h1>
    <br>

    <div class="perdidos-list">
    <ul>
    <% @perros.each do |perro| %>
      <li class="cuidador-item">
        <div class="row gx-5">
          <div class="col-md-6">
          <%= render perro %>
          </div>
        </div>

        <div class="row gx-5">
          <div class="col-md-6">
          <%= link_to perro_path(perro), class: "btn bg-success p-2 text-white bg-opacity-50" do %>
            <p>Ver Historia Clinica</p>
          <% end %>
          </div>
        </div>
      </li>
    <% end %>
    <div">
    </ul>
  <% end %>
<% end %>
</div>
