<!-- app/views/usuarios/show.html.erb -->

<h1>Perfil de Usuario</h1>

<p><strong>Nombre:</strong> <%= @usuario.name %></p>
<p><strong>Email:</strong> <%= @usuario.email %></p>
<!-- Agrega más atributos según tus necesidades -->

<%= link_to new_perro_path(:usuario_id => @usuario), class: "btn bg-success p-2 text-white bg-opacity-50" do %>
  <p>Registrar Nuevo Perro</p>
<% end %>

<% @perros.each do |perro| %>
  <%= render perro %>
<% end %>

<!-- <%= link_to 'Volver al listado', usuarios_path %> -->
