<!DOCTYPE html>


<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Veterinaria Oh My Dog</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body img src="assets/perros.jpg" class="img-fluid" alt="no se pudo cargar">  <!--"bg-success p-2 text-dark bg-opacity-50 "

  <!-- Barra de navegación -->
  <nav class="navbar navbar-expand-lg navbar-light bg-warning p-2 text-white bg-opacity-25 border border-warning p-2 mb-2" >
    <div class="container">

      <a class="navbar-brand" style="font-size: 35px;">Veterinaria Oh My Dog </a>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <% if user_signed_in? %>
            <%= link_to destroy_user_session_path, class: "btn bg-success p-2 text-white bg-opacity-50" do %>
                <div class="p-3" style="background-color: #FFA500; color: white; border: 1px solid #28a745; padding: 2px; margin-bottom: 2px;">
                <p1> Cerrar Sesión </p1>
              </div>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path, class: "btn bg-warning p-2 text-white bg-opacity-50" do %>
              <div class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
                <p1> Iniciar Sesión </p1>
              </div>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Sección "Quiénes Somos" -->

  <div class="py-4" style="background-color: #FFA500; color: white; border: 1px solid #28a745; padding: 2px; margin-bottom: 2px;">

    <div class="container">
        <h4 class="text-center text-black"> ¿Quiénes Somos? </h4>
        <p class="text-center text-black">En Veterinaria Oh My Dog, nos apasiona brindar un cuidado integral a tus adorados
        compañeros de cuatro patas. Nuestro compromiso va más allá de la atención veterinaria
        convencional. Somos un equipo dedicado a proporcionar una gama completa de servicios
        diseñados para atender las necesidades de tus mascotas y fortalecer el vínculo entre los
        perros y sus familias.
        </p>
    </div>
  </div>

  <!-- Sección de Servicios -->
  <div class="container-fluid my-5 ">

    <div class="row gx-5">
      <div class="col-md-6 ">
        <a class="nav-link" href="#">
         <div class="card mb-3" style="background-color: #FFA500; color: white;">
            <%= link_to "#", class: "btn bg-success p-2 text-white bg-opacity-50" do %>
              <div class="card-body">
                <h5 class="card-title text-center text-dark">Gestion de Veterinaria general</h5>
                <p class="card-text text-center text-dark">Aca podras sacar turnos para que tu perrito tenga
                la mejor atencion sobre su salud</p>
              </div>
            <% end %>
          </div>
        </a>
      </div>
      <div class="col-md-6">
         <div class="card mb-3" style="background-color: #FFA500; color: white;">
            <%= link_to adopcions_path, class: "btn bg-success p-2 text-white bg-opacity-50" do %>
              <div class="card-body">
                <h5 class="card-title text-center text-dark">Adopcion de Perros</h5>
                <p class="card-text text-center text-dark">Ayada y recibe ayuda para poder encontrarle un hogar a nuestros
                queridos amigos de cuatro paras</p>
              </div>
            <% end %>
          </div>
      </div>
    </div>

    <div class="row gx-5">
      <div class="col-md-6">
        <a class="nav-link" href="#">
          <div class="card mb-3" style="background-color: #FFA500; color: white;">
            <%= link_to main_home_path, class: "btn bg-success p-2 text-white bg-opacity-50" do %>
              <div class="card-body">
                <h5 class="card-title text-center text-dark">Paseadores y Cuidadores</h5>
                <p class="card-text text-center text-dark">Encuentra personas tambien amantes de los perros que puedan
                  ayudarte con tu mascota cuando tu no puedas </p>
                </div>
            <% end %>
          </div>
        </a>
      </div>
      <div class="col-md-6 ">
        <a class="nav-link" href="#">
           <div class="card mb-3" style="background-color: #FFA500; color: white;">
            <%= link_to "#", class: "btn bg-success p-2 text-white bg-opacity-50" do %>
              <div class="card-body">
                <h5 class="card-title text-center text-dark">Perros Perdidos y encontrados</h5>
                <p class="card-text text-center text-dark">Difundamos informacion para que nuetros amigos caninos
                  no pasen tiempo lejos de sus familias</p>
              </div>
            <% end %>
          </div>
        </a>
      </div>
    </div>

    <div class="row gx-5">
      <div class="col-md-6 ">
        <a class="nav-link" href="#">
          <div class="card mb-3" style="background-color: #FFA500; color: white;">
            <%= link_to campanas_path, class: "btn bg-success p-2 text-white bg-opacity-50" do %>
              <div class="card-body">
                <h5 class="card-title text-center text-dark">Campañas</h5>
                <p class="card-text text-center text-dark">Ayudemos a refugios para que esos perros tengan la misma felicidad que tu perrito</p>
              </div>
            <% end %>
          </div>
        </a>
      </div>
    </div>
  </div>

</body>
</html>
