<!DOCTYPE html>


<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Veterinaria Oh My Dog</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body img src="assets/perros.jpg" class="img-fluid" alt="no se pudo cargar">  <!--"bg-success p-2 text-dark bg-opacity-50 "

  <!-- Barra de navegación -->
  <nav class="navbar navbar-expand-lg navbar-light p-2 text-white" style="background-color: rgba(255, 214, 153, 0.5);">

      <a class="navbar-brand" style="font-size: 35px;">Veterinaria Oh My Dog </a>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">

        </li>
      </ul>
    </div>
  </nav>

  <!-- Sección "Quiénes Somos" -->

  <div class="py-4" style="background-color: rgba(255, 214, 153, 0.5); color: white; border: 0px solid #28a745; padding: 2px; margin-bottom: 2px;">

    <div class="container">
        <h4 class="text-center text-black"> ¿Quiénes Somos? </h4>
        <p class="text-center text-black">En Veterinaria Oh My Dog, nos apasiona brindar un cuidado integral a tus adorados
        compañeros de cuatro patas. Nuestro compromiso va más allá de la atención veterinaria
        convencional. Somos un equipo dedicado a proporcionar una gama completa de servicios
        diseñados para atender las necesidades de tus mascotas y fortalecer el vínculo entre los
        perros y sus familias.
        </p>
    </div>
  </div>

  <!-- Sección de Servicios -->
  <div class="container-fluid my-5 ">

    <div class="row gx-5">
      <div class="col-md-6">
        <a class="nav-link" href="#">
          <%= link_to "#", class: "btn bg-success p-2 text-white bg-opacity-50" do %>
            <div class="card-body">
              <h5 class="card-title text-center">Gestion de Veterinaria general</h5>
              <p class="card-text text-center">Aca podras sacar turnos para que tu perrito tenga la mejor atencion sobre su salud</p>
            </div>
          <% end %>
        </a>
      </div>

      <div class="col-md-6">
        <%= link_to adopcions_path, class: "btn bg-success p-2 text-white bg-opacity-50" do %>
          <div class="card-body">
            <h5 class="card-title text-center">Adopcion de Perros</h5>
            <p class="card-text text-center">Ayada y recibe ayuda para poder encontrarle un hogar a nuestros queridos amigos de cuatro patas</p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row gx-5">
      <div class="col-md-6">
        <a class="nav-link" href="#">
          <%= link_to main_home_path, class: "btn bg-success p-2 text-white bg-opacity-50" do %>
            <div class="card-body">
              <h5 class="card-title text-center">Paseadores y Cuidadores</h5>
              <p class="card-text text-center">Encuentra personas también amantes de los perros que puedan ayudarte con tu mascota cuando tú no puedas</p>
            </div>
          <% end %>
        </a>
      </div>

      <div class="col-md-6">
        <a class="nav-link" href="#">
          <%= link_to encontrados_path, class: "btn bg-success p-2 text-white bg-opacity-50" do %>
            <div class="card-body">
              <h5 class="card-title text-center">Encontrados</h5>
              <p class="card-text text-center">Encuentra personas también amantes de los perros que puedan ayudarte con tu mascota cuando tú no puedas</p>
            </div>
          <% end %>
        </a>
      </div>
    </div>

    <div class="row gx-5">
  <div class="col-md-6">
    <a class="nav-link" href="#">
      <%= link_to perdidos_path, class: "btn bg-success p-2 text-white bg-opacity-50" do %>
        <div class="card-body">
          <h5 class="card-title text-center">Perros Perdidos</h5>
          <p class="card-text text-center">Encuentra personas también amantes de los perros que puedan ayudarte con tu mascota cuando tú no puedas</p>
        </div>
      <% end %>
    </a>
  </div>


  <div class="col-md-6">
    <a class="nav-link" href="#">
      <%= link_to campanas_path, class: "btn bg-success p-2 text-white bg-opacity-50" do %>
        <div class="card-body">
          <h5 class="card-title text-center">Campañas</h5>
          <p class="card-text text-center">Ayudemos a refugios para que esos perros tengan la misma felicidad que tu perrito</p>
        </div>
      <% end %>
    </a>
  </div>
  <%if user_signed_in? && current_user.admin?%>
  <div class="col-md-6">
    <a class="nav-link" href="#">
      <%= link_to usuarios_path, class: "btn bg-success p-2 text-white bg-opacity-50" do %>
        <div class="card-body">
          <h5 class="card-title text-center">Ver lista de Usuarios</h5>
        </div>
      <% end %>
    </a>
  </div>
  <% end %>
</div>




</body>
</html>
