<!-- <% if user_signed_in? && !current_user.admin? %>
  <%= link_to "Nuevo Turno", new_turno_path, class: "btn btn-primary" %>
<% end %> -->

<% if user_signed_in? %>

<% if @turnos.select { |turno| turno.estado_turno == 'pendiente' }.empty? %>
<p>No hay Turnos en el Pendientes</p>
<% else %>
<!-- Sección de Turnos Pendientes para usuarios no administradores -->
  <h2>Turnos Pendientes</h2>
  <% current_day = nil %>
  <ul>
    <% @turnos.select { |turno| turno.estado_turno == 'pendiente' }.group_by { |turno| [turno.fecha, turno.banda_horaria] }.each do |(day, band), turnos_for_band| %>
      <% if current_day != day.strftime("%A, %d de %B de %Y") %>
        <% current_day = day.strftime("%A, %d de %B de %Y") %>
        <h3>Banda Horaria: <%= band %></h3>
        <h4><%= l(day, format: "%A, %d de %B de %Y") %></h4>
      <% end %>

      <% turnos_for_band.each do |turno| %>
        <li class="perdido-item">
          <div class="perdido-info">
            <!-- Mostrar detalles del turno pendiente -->
            <% if user_signed_in? && current_user.admin?%>
            <p> Nombre del Usuario:   <b> <%= User.find(turno.user_id).name %> </b></p>
            <% end %>
            <% if !turno.nombre_perro.blank? %>
            <% perro = Perro.find_by(nombre: turno.nombre_perro, user_id: turno.user_id) %>
            <p> Nombre del Perro:   <b>   <%= link_to turno.nombre_perro, perro_path(perro)%>
            <% end %>
            <% # Obtén el objeto Perro asociado al turno %>
         <% perro = Perro.find_by(nombre: turno.nombre_perro, user_id: turno.user_id) %>

         <% if perro.present? %>
           <p>Edad del Perro: <b><%= perro.edad %></b></p>
       <% else %>
            <p>Edad del Perro: <b>No disponible</b></p>
        <% end %>

            <p> Tipo de servicio:   <b> <%= turno.tipo_servicio %> </b></p>
            <!-- Agrega aquí más detalles según sea necesario -->
            <p>Estado: <b><%= turno.estado_turno %></b></p>
            <% if user_signed_in? && !current_user.admin? %>
              <%= button_to "Cancelar Turno", cancelar_turno_path(turno), method: :post, class: 'btn btn-success' %>
            <% end %>

            <% if user_signed_in? && current_user.admin? %>
            <%= button_to "Confirmar Turno", confirmar_turno_path(turnos_for_band.first), method: :post, class: 'btn btn-success' %>
            <%= button_to "Rechazar Turno", rechazar_turno_path(turnos_for_band.first), method: :post, class: 'btn btn-success' %>
            <% end %>

          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
<% end %>
<% if user_signed_in? %>
<% if @turnos.reject { |turno| turno.estado_turno == 'pendiente' }.empty? %>
  <p>No hay Turnos en el  Historial </p>
<% else %>
  <% current_day = nil %>
  <h2>Historial de Turnos</h2>
  <ul>
    <% @turnos.reject { |turno| turno.estado_turno == 'pendiente' }.group_by { |turno| [turno.fecha, turno.banda_horaria] }.each do |(day, band), turnos_for_band| %>
      <h3>Banda Horaria: <%= band %></h3>
      <% turnos_for_band.each do |turno| %>
        <% if current_day != day.strftime("%A, %d de %B de %Y") %>
          <% current_day = day.strftime("%A, %d de %B de %Y") %>
          <h4><%= l(day, format: "%A, %d de %B de %Y") %></h4>
        <% end %>

        <li class="perdido-item">
          <div class="perdido-info">
            <!-- Mostrar detalles del historial de turno (rechazado, cancelado, confirmado) -->
            <% if user_signed_in? && current_user.admin?%>
            <p> Nombre del Usuario:   <b> <%= User.find(turno.user_id).name %> </b></p>
            <% end %>
            <% if !turno.nombre_perro.blank? %>
            <% perro = Perro.find_by(nombre: turno.nombre_perro, user_id: turno.user_id) %>
            <p> Nombre del Perro:   <b>   <%= link_to turno.nombre_perro, perro_path(perro)%>
            <% end %>
            <% perro = Perro.find_by(nombre: turno.nombre_perro, user_id: turno.user_id) %>

            <% if perro.present? %>
              <p>Edad del Perro: <b><%= perro.edad %></b></p>
          <% else %>
               <p>Edad del Perro: <b>No disponible</b></p>
           <% end %>

            <% if !turno.motivo_rechazo.blank? %>
            <p> Motivo de rechazo:   <b> <%= turno.motivo_rechazo %> </b></p>
            <% end %>

              <p> Tipo de servicio:   <b> <%= turno.tipo_servicio %> </b></p>
            <!-- Agrega aquí más detalles según sea necesario -->
            <p>Estado: <b><%= turno.estado_turno %></b></p>
            <% if user_signed_in? && !current_user.admin? && turno.estado_turno == 'confirmado'%>
              <%= button_to "Cancelar Turno", cancelar_turno_path(turno), method: :post, class: 'btn btn-success' %>
            <% end %>

            <% if user_signed_in? && current_user.admin? && turno.estado_turno == 'confirmado'%>
              <%= button_to "No asistio al Turno", inasistir_turno_path(turno), method: :post, class: 'btn btn-success' %>
            <% end %>



            <% perro = Perro.find_by(nombre: turno.nombre_perro, user_id: turno.user_id) %>


            <% if user_signed_in?  && current_user.admin? && turno.estado_turno == 'confirmado' && turno.tipo_servicio=="antirrabica" %>

                 <%if perro.vacunacions.exists?(tipo_vacuna: "antirrabica") %>
                   <% anti=perro.vacunacions.where(tipo_vacuna: "antirrabica").last %>
                   <%if perro.edad < 4 %>
                       <%if (Date.today.to_time-anti.created_at.to_time).to_i > 21 %>
                          <%= link_to "Aplicar Vacunación Antirrabica", new_vacunacion_path(nombre:turno.nombre_perro, user_id:User.find(turno.user_id),id:turno.id,tipo_s: "antirrabica"), class: "btn btn-success" %>
                      <% end %>
                   <% else %>
                      <%if (Date.today.to_time-anti.created_at.to_time).to_i > 365 %>
                        <%= link_to "Aplicar Vacunación Antirrabica", new_vacunacion_path(nombre:turno.nombre_perro, user_id:User.find(turno.user_id),id:turno.id,tipo_s: "antirrabica"), class: "btn btn-success" %>
                      <% end %>
                  <% end %>
                <% else %>
                  <%= link_to "Aplicar Vacunación Antirrabica", new_vacunacion_path(nombre:turno.nombre_perro, user_id:User.find(turno.user_id),id:turno.id,tipo_s: "antirrabica"), class: "btn btn-success" %>
                <% end %>

           <% end %>

           <% if user_signed_in?  && current_user.admin? && turno.estado_turno == 'confirmado' && turno.tipo_servicio=="parvovirus"%>
             <%if perro.vacunacions.exists?(tipo_vacuna: "parvovirus") %>
               <% anti=perro.vacunacions.where(tipo_vacuna: "parvovirus").last %>
               <%if perro.edad > 5 %>
                  <%if (Date.today.to_time-anti.created_at.to_time).to_i > 365 %>
                    <%= link_to "Aplicar Vacunación Parvovirus", new_vacunacion_path(nombre:turno.nombre_perro, user_id:User.find(turno.user_id),id:turno.id,tipo_s: "parvovirus"), class: "btn btn-success" %>
                  <% end %>
              <% end %>
            <% else %>
               <%= link_to "Aplicar Vacunación Parvovirus", new_vacunacion_path(nombre:turno.nombre_perro, user_id:User.find(turno.user_id),id:turno.id,tipo_s: "parvovirus"), class: "btn btn-success" %>
            <% end %>
          <% end %>

           <% if user_signed_in?  && current_user.admin? && turno.estado_turno == 'confirmado' && turno.tipo_servicio=='castracion' && turno.fecha == Date.today%>
                <%= link_to "Registrar Castracion", new_castracion_path(nombre:turno.nombre_perro, user_id:User.find(turno.user_id),id:turno.id), class: "btn btn-success" %>
                   <!-- Agrega botones para otros tipos de servicios si es necesario -->
          <% end %>
          <% if user_signed_in?  && current_user.admin? && turno.estado_turno == 'confirmado' && turno.tipo_servicio=='desparasitacion' &&turno.fecha == Date.today%>
               <%= link_to "Registrar Desparasitacion", new_desparasitacion_path(nombre:turno.nombre_perro, user_id:User.find(turno.user_id),id:turno.id), class: "btn btn-success" %>
                  <!-- Agrega botones para otros tipos de servicios si es necesario -->
         <% end %>
         <% if user_signed_in?  && current_user.admin? && turno.estado_turno == 'confirmado' && turno.tipo_servicio=='consulta general' && turno.fecha == Date.today%>
              <%= link_to "Registrar Consulta General", new_consulta_general_path(nombre:turno.nombre_perro, user_id:User.find(turno.user_id),id:turno.id), class: "btn btn-success" %>
                 <!-- Agrega botones para otros tipos de servicios si es necesario -->
        <% end %>
          </div>
        </li>
      <% end %>


    <% end %>
  </ul>
<% end %>
<% end %>
