<% if user_signed_in? && !current_user.admin? %>
  <%= link_to "Nuevo Turno", new_turno_path, class: "btn btn-primary" %>
<% end %>
<% if user_signed_in? && %>

  <!-- Sección de Turnos Pendientes para usuarios no administradores -->
  <h2>Turnos Pendientes</h2>
  <% current_day = nil %>
  <ul>
    <% @turnos.select { |turno| turno.estado_turno == 'pendiente' }.group_by { |turno| [turno.fecha, turno.banda_horaria] }.each do |(day, band), turnos_for_band| %>
      <% if current_day != day.strftime("%A, %d de %B de %Y") %>
        <% current_day = day.strftime("%A, %d de %B de %Y") %>
          <h4><%= l(day, format: "%A, %d de %B de %Y") %></h4>
        <h3>Banda Horaria: <%= band %></h3>
      <% end %>

      <% turnos_for_band.each do |turno| %>
        <li class="perdido-item">
          <div class="perdido-info">
            <!-- Mostrar detalles del turno pendiente -->
            <p> Nombre del Perro:   <b> <%= turno.nombre_perro %> </b></p>
            
            <p> Tipo de servicio:   <b> <%= turno.tipo_servicio %> </b></p>
            <!-- Agrega aquí más detalles según sea necesario -->
            <p>Estado: <b><%= turno.estado_turno %></b></p>
            <% if user_signed_in? && !current_user.admin? %>
              <%= button_to "Cancelar Turno", cancelar_turno_path(turno), method: :post, class: 'btn btn-success' %>
            <% end %>
            <% if user_signed_in? && current_user.admin? %>
            <%= button_to "Confirmar Turno", confirmar_turno_path(turnos_for_band.first), method: :post, class: 'btn btn-success' %>
            <%= button_to "Rechazar Turno", rechazar_turno_path(turnos_for_band.first), method: :post, class: 'btn btn-success' %>
            <% end %>

          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% if user_signed_in? %>
  <!-- Sección de Historial de Turnos para usuarios administradores -->
  <% current_day = nil %>
  <h2>Historial de Turnos</h2>
  <ul>
    <% @turnos.reject { |turno| turno.estado_turno == 'pendiente' }.group_by { |turno| [turno.fecha, turno.banda_horaria] }.each do |(day, band), turnos_for_band| %>

      <% turnos_for_band.each do |turno| %>
        <% if current_day != day.strftime("%A, %d de %B de %Y") %>
          <% current_day = day.strftime("%A, %d de %B de %Y") %>
          <h4><%= l(day, format: "%A, %d de %B de %Y") %></h4>
            <h3>Banda Horaria: <%= band %></h3>
        <% end %>

        <li class="perdido-item">
          <div class="perdido-info">
            <!-- Mostrar detalles del historial de turno (rechazado, cancelado, confirmado) -->

            <p> Nombre del Perro:   <b> <%= turno.nombre_perro %> </b></p>
              <p> Tipo de servicio:   <b> <%= turno.tipo_servicio %> </b></p>
            <!-- Agrega aquí más detalles según sea necesario -->
            <p>Estado: <b><%= turno.estado_turno %></b></p>
          </div>
        </li>
      <% end %>


    <% end %>
  </ul>
<% end %>
