<h1>Sacar Turno</h1>
<div class="perdidos-list">
<%= form_with model: @turno do |f| %>
  <% @turno.errors.full_messages.each do |error| %>
    <div>
      <%= error %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre_perro, "Nombre del Perro" %>
    <%= f.collection_check_boxes :nombre_perro, current_user.perros.all,:nombre, :nombre do |b| %>
      <li>
      <%= b.check_box %>
      <%= b.label %>
      </li>
    <% end %>
  </div>


  <div class="form-group">
    <%= f.label :primera_visita, "Tu perrito ha visitado antes nuestra Veterinaria?" %>
    <%= f.check_box :primera_visita %>
  </div>

  <div class="form-group">
  <%= f.label :tipo_servicio, "Tipo de Servicio" %>
  <ul>
    <% [['Castración', 'castracion'], ['Vacunación', 'vacunacion'], ['Consulta General', 'consulta general'], ['Desparasitación', 'desparasitación']].each do |service| %>
      <li>
        <%= f.check_box :tipo_servicio, { multiple: true }, service.last, nil %>
        <%= f.label service.last, service.first %>
      </li>
    <% end %>
  </ul>
</div>




  <div class="form-group">
    <%= f.label :banda_horaria, "En que horario piensas llevar a tu perrito?" %>
    <%= f.select :banda_horaria, ["Turno 1 - 8 a 13 hs", "Turno 2 - 16 a 22 hs"] %>
  </div>
  <div class="form-group">
    <%= f.label :fecha, "Fecha de atención" %>
    <%= f.date_field :fecha, min: Date.today.to_s, max: (Date.today + 1.month).to_s, class: "input-tamanocampo", required: true %>
  </div>


  <div class="form-group">
    <%= f.label :descripcion, " Descripcion" %>
    <%= f.text_area :descripcion, class: "input-tamanocampo",placeholder: "Cuantos perros llevaras, agrega el nombre de el/los perro/s nuevo/s, tamaño y raza", required: true %>
  </div>
  <div class="form-group">
      <%= f.label :perro_noregistrado, "Nombre de perro no registrado" %>
      <%= f.text_field :perro_noregistrado, class: "input-tamanocampo", placeholder: "Escribe el nombre del perro no registrado" %>
    </div>
    <br>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.submit "Confirmar Turno", class: "btn-publicar btn-primary"  %>

<% end %>
</div>
